header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#buscador{
    width: 25vw;
    height:2vw;
    margin: 0 10px;
}


main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%
}

h1{
    text-align: center;
}

#productos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.productos__item{
    width: 300px;
    margin: 20px 50px;
    border: 1px solid black;
    padding: 20px;
}

img{
    height: 150px;
    width: 150px;
}

button{
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    transition: all 0.5s ease;
    border: 1px solid black;
}

button:hover{
    color: white;
    background-color:black;
}

/* detalles html */

.detalles{
    width: 50vw;
    height: 50vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalles-img{
    width: 300px;
    height: 300px;
}

/* BOTON SWAL */
.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
}

.swal-button--confirm{
    background-color: #000000;
}